@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #fdfbf7;
}

.Heading {
  font-size: 1.25rem;
  font-weight: bold;
  color: #654d33;
}

@theme {
  --color-beige-50: oklch(0.99 0.005 60);
  --color-beige-100: oklch(0.97 0.015 65);
  --color-beige-200: oklch(0.92 0.03 68);
  --color-beige-300: oklch(0.87 0.05 69);
  --color-beige-400: oklch(0.8 0.08 69);

  --color-brown-50: oklch(0.98 0.005 65);
  --color-brown-100: oklch(0.92 0.02 65);
  --color-brown-200: oklch(0.8 0.06 60);
  --color-brown-300: oklch(0.69 0.1 55);
  --color-brown-400: oklch(0.58 0.13 50);
  --color-brown-500: oklch(0.48 0.15 45);
  --color-brown-600: oklch(0.4 0.14 40);
  --color-brown-700: oklch(0.31 0.12 38);
  --color-brown-800: oklch(0.23 0.1 35);
  --color-brown-900: oklch(0.15 0.08 30);
}
